# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

/auto-save-list
/elpa
tmp*
projectile-bookmarks.eld
projectile.cache
recentf
emojis
customizations.el
eshell
quelpa
bookmarks
